:root {
  --c-main: #5b8fce;
  --c-sub: #70b0ff;
  --c-accent: #c9cf5b;
  --c-text: #4c6172;
  --c-text-w: #ffffff;
  --c-discription: #7e7c7c;

  --c-line: #f2ede6;
  --c-border: #c8c8c8;
  --c-border-lise: #cce3ff;
  --c-smoke: #f0f0f0;
  --f-main: 'Quicksand';
}
