.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.top {
  height: 48px;
  background: var(--c-main);
}

.nav_links {
  display: flex;
  justify-content: space-between;
  padding: 0% 10%;
}
