.container {
  width: 100%;
  height: 100px;
  padding: 20px 40px 20px;
  border-top: 1px solid var(--c-line);
  box-shadow: 0 -6px 10px -3px rgba(0, 0, 0, 0.2);
  background: var(--c-main);
}

.copy {
  margin-top: 20px;
  text-align: center;
  color: var(--c-text);
  font-size: 14px;
  font-family: 'Times New Roman', 'Times', sans-serif;
}

.lists {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: var(--c-text);
}

.list {
  cursor: pointer;
  font-size: 0.875rem;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}

.after {
  margin: 0 20px;
}
