.container {
  width: 100%;
  color: var(--c-text);
}

.title {
  margin-top: 20px;
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: bold;
  text-align: center;
}

.table {
  width: 80%;
  margin: 0 auto;
}

.image {
  text-align: center;
  margin: 20px auto 0;
}

.discription {
  padding-left: 40px;
}
