.container {
  width: 100%;
  height: 48px;
  text-align: center;
  line-height: 48px;
  font-family: var(--f-main);
  border-left: 1px solid var(--c-line);

  &:last-child {
    border-right: 1px solid var(--c-line);
  }
}

.title {
  cursor: pointer;
  user-select: none;
  transition: all 0.5s;
  color: #ffffff;

  &:hover {
    text-decoration: underline;
    transform: translate(0, 5px);
  }
}
