.container {
  width: 20%;
  height: 48px;
  text-align: center;
  line-height: 48px;
  font-family: var(--f-main);
}

.title {
  cursor: pointer;
  user-select: none;
  transition: all 0.5s;
  color: #ffffff;

  &:hover {
    text-decoration: underline;
    transform: translate(0, 5px);
  }
}
