.container {
  width: 100%;
}

.image {
  text-align: center;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25));
}

.title {
  margin-top: 20px;
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: bold;
  text-align: center;
}

.category {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  &__item:not(:first-child) {
    margin-left: 16px;
  }
}

.time {
  width: 200px;
  margin-right: 20px;
  margin-left: auto;
}
